<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsGenerateDataByProcess" value="False"/> <!--True / False-->
    <add key="XmlGeneratorFullFileName" value="D:\Student\С#\Курсы\OTUS.C# Professional\HW\HW_7_ConcurrencyImport\src\Otus.Teaching.Concurrency.Import.DataGenerator.App\bin\Debug\netcoreapp3.1\Otus.Teaching.Concurrency.Import.DataGenerator.App.exe"/>
    <add key="TypeDB" value="postgresql"/> <!--postgresql / sqlite-->
    <add key="DBConnectionString" value="Host=localhost;Port=5432;Username=postgres;Password=postgres;Database=Customers;"/> <!--"Data Source=Customers.db"-->
    <add key="NumData" value="1000000"/> <!--"от 1 до 2147483647"-->
    <add key="NumThreads" value="4"/> <!--"от 0 до 1000"-->
  </appSettings>
</configuration>